<a href="https://colab.research.google.com/github/LauraAlejandraFuentesArevalo/DS_Laura_Alejandra_Fuentes/blob/main/clase6_Sep21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [ ]:
'https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'

In [2]:
print('** Versiones Actuales | Requeridas **')
print('NumPy: Version Actual:', np.__version__)
print('Pandas: Version Actual:', pd.__version__)

** Versiones Actuales | Requeridas **
NumPy: Version Actual: 1.21.6
Pandas: Version Actual: 1.3.5

In [3]:
# Usamos el constructor pd.Series
items = pd.Series(data = np.array([2, 3, 8, 6, 7]) , name = 'precios', index = ['veg1','cer1','frut1','frut2','frut3'])
print(items)

veg1     2
cer1     3
frut1    8
frut2    6
frut3    7
Name: precios, dtype: int64

In [4]:
print('obtener los índices ',items.index)
print('obtener los valores ',items.values)
print('obtener tipo de dato ',items.dtypes)

obtener los índices  Index(['veg1', 'cer1', 'frut1', 'frut2', 'frut3'], dtype='object')
obtener los valores  [2 3 8 6 7]
obtener tipo de dato  int64

In [5]:
df = pd.read_csv(filepath_or_buffer='https://storage.googleapis.com/datasets-academy/Track%20Data%20Science/01_Intro_Python/PWT91.csv'
                ,sep = ',',
                 decimal = '.')




df.head(100)

   countrycode country  year        rgdpo       pop       emp  avh        hc
0          ABW   Aruba  1950          NaN       NaN       NaN  NaN       NaN
1          ABW   Aruba  1951          NaN       NaN       NaN  NaN       NaN
2          ABW   Aruba  1952          NaN       NaN       NaN  NaN       NaN
3          ABW   Aruba  1953          NaN       NaN       NaN  NaN       NaN
4          ABW   Aruba  1954          NaN       NaN       NaN  NaN       NaN
..         ...     ...   ...          ...       ...       ...  ...       ...
95         AGO  Angola  1977  27101.01953  8.130988  4.111429  NaN  1.033385
96         AGO  Angola  1978  24654.34766  8.376147  4.209530  NaN  1.035939
97         AGO  Angola  1979  24989.89453  8.641521  4.290003  NaN  1.038498
98         AGO  Angola  1980  25335.56836  8.929900  4.300710  NaN  1.041064
99         AGO  Angola  1981  25177.26172  9.244507  4.429433  NaN  1.050381

[100 rows x 8 columns]

In [6]:
df.shape

(12376, 8)

In [7]:
print(type(df))
df.dtypes

<class 'pandas.core.frame.DataFrame'>

countrycode     object
country         object
year             int64
rgdpo          float64
pop            float64
emp            float64
avh            float64
hc             float64
dtype: object

In [8]:
df['pop']

0              NaN
1              NaN
2              NaN
3              NaN
4              NaN
           ...
12371    15.054506
12372    15.411675
12373    15.777451
12374    16.150362
12375    16.529903
Name: pop, Length: 12376, dtype: float64

In [9]:
df['pop'] = df['pop'].fillna(0)

In [10]:
df['pop'] = df['pop'].astype(int)

In [11]:
df

      countrycode   country  year        rgdpo  pop       emp  avh        hc
0             ABW     Aruba  1950          NaN    0       NaN  NaN       NaN
1             ABW     Aruba  1951          NaN    0       NaN  NaN       NaN
2             ABW     Aruba  1952          NaN    0       NaN  NaN       NaN
3             ABW     Aruba  1953          NaN    0       NaN  NaN       NaN
4             ABW     Aruba  1954          NaN    0       NaN  NaN       NaN
...           ...       ...   ...          ...  ...       ...  ...       ...
12371         ZWE  Zimbabwe  2013  28329.81055   15  7.914061  NaN  2.504635
12372         ZWE  Zimbabwe  2014  29355.75977   15  8.222112  NaN  2.550258
12373         ZWE  Zimbabwe  2015  29150.75000   15  8.530669  NaN  2.584653
12374         ZWE  Zimbabwe  2016  29420.44922   16  8.839398  NaN  2.616257
12375         ZWE  Zimbabwe  2017  30940.81641   16  9.181251  NaN  2.648248

[12376 rows x 8 columns]

In [ ]:
df['pop'].fillna(0)