<a href="https://colab.research.google.com/github/LauraAlejandraFuentesArevalo/DS_Laura_Alejandra_Fuentes/blob/main/Clase15_Oct31.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import sys
import numpy as np
import pandas as pd
import sklearn as sk
import matplotlib
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import matplotlib.pyplot as plt

In [82]:
df_train_con_nan =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data_set/ClaseOct26_train.csv")
#df_test =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/data_set/ClaseOct26_test.csv")
print(df_train_con_nan.keys())
df_train_con_nan

print("Shape",df_train_con_nan.shape)

df_train_con_nan.isnull().sum()

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')
Shape (891, 12)

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [83]:
df_train2 = df_train_con_nan[['Survived', 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Fare', 'Embarked']]

df_train2.dropna()
df_train2.isnull().sum()

df_train2.dtypes

Survived      int64
Pclass        int64
Sex          object
Age         float64
SibSp         int64
Parch         int64
Fare        float64
Embarked     object
dtype: object

In [84]:
df_train2.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

**TRANSFORMACION DE VARIABLES - ESCALAMIENTO**

In [85]:
#Pipeline es para el procesamiento y limpieza de las variables. Proceso continuo de transformacion de variables
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
#Escalamiento
from sklearn.preprocessing import MinMaxScaler
#para las variables categoricas:
from sklearn.preprocessing import OneHotEncoder
import matplotlib.pyplot as plt

In [86]:
print("df_train2.Survived: ", len(df_train2.Survived.unique()))
print("df_train2.Pclass: ", len(df_train2.Pclass.unique()))
print("df_train2.Sex: ", len(df_train2.Sex.unique()))
print("df_train2.Age: ", len(df_train2.Age.unique()))
print("df_train2.SibSp: ", len(df_train2.SibSp.unique()))
print("df_train2.Fare: ", len(df_train2.Fare.unique()))
print("df_train2.Embarked: ", len(df_train2.Embarked.unique()))
print("df_train2.Parch: ", len(df_train2.Parch.unique()))

df_train2.Survived:  2
df_train2.Pclass:  3
df_train2.Sex:  2
df_train2.Age:  89
df_train2.SibSp:  7
df_train2.Fare:  248
df_train2.Embarked:  4
df_train2.Parch:  7

In [87]:
df_train2.keys()

Index(['Survived', 'Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [88]:
YDEF = df_train2["Survived"]
df_train3=df_train2[[ 'Pclass', 'Sex', 'Age', 'SibSp',
       'Parch', 'Embarked','Fare']]

print("df_train3.shape: ", df_train3.shape)

#Las variables númericas serán:  Age, Fare
#Las variables categoricas serán:  Pclass (3), Sex (2), SibSp (7), Parch (7), Embarked (4)

#Entonces, nuestro df_train2 tendrá 28 columnas

df_train3.shape:  (891, 7)

In [89]:
df_train3.Pclass= df_train3.Pclass.astype(str)
df_train3.Sex = df_train3.Sex.astype(str)
df_train3.SibSp = df_train3.SibSp.astype(str)
df_train3.Embarked = df_train3.Embarked.astype(str)
df_train3.Parch = df_train3.Parch.astype(str)
df_train3.Fare = df_train3.Fare.astype(int)
df_train3.dtypes

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

Pclass       object
Sex          object
Age         float64
SibSp        object
Parch        object
Embarked     object
Fare          int64
dtype: object

In [90]:
#Selecciono variables numericas
x_num = df_train3.select_dtypes(include = np.number).columns
x_num

Index(['Age', 'Fare'], dtype='object')

In [91]:
#Selecciono variables categoricas
x_cat = df_train3.select_dtypes(include = np.object).columns
x_cat

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

Index(['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], dtype='object')

In [92]:
num_tras = Pipeline(steps=[
    ('scaler',MinMaxScaler(feature_range=(0,1)))
])

cat_tras = Pipeline(steps=[
    ('onehot',OneHotEncoder(handle_unknown='ignore'))
])

In [93]:
preprocesamiento = ColumnTransformer(
    transformers=[
        ('num',num_tras,x_num),
        ('cat',cat_tras,x_cat)
    ]
)
preprocesamiento

ColumnTransformer(transformers=[('num',
                                 Pipeline(steps=[('scaler', MinMaxScaler())]),
                                 Index(['Age', 'Fare'], dtype='object')),
                                ('cat',
                                 Pipeline(steps=[('onehot',
                                                  OneHotEncoder(handle_unknown='ignore'))]),
                                 Index(['Pclass', 'Sex', 'SibSp', 'Parch', 'Embarked'], dtype='object'))])

In [100]:
nuevoDF= preprocesamiento.fit_transform(df_train3).toarray()
#.toarray()

nuevoDF

array([[0.27117366, 0.01367188, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.4722292 , 0.13867188, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32143755, 0.01367188, 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [       nan, 0.04492188, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.32143755, 0.05859375, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.39683338, 0.01367188, 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [101]:
preprocesamiento.fit_transform(df_train3).shape

(891, 25)

In [102]:
nuevoDF

array([[0.27117366, 0.01367188, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.4722292 , 0.13867188, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.32143755, 0.01367188, 0.        , ..., 0.        , 1.        ,
        0.        ],
       ...,
       [       nan, 0.04492188, 0.        , ..., 0.        , 1.        ,
        0.        ],
       [0.32143755, 0.05859375, 1.        , ..., 0.        , 0.        ,
        0.        ],
       [0.39683338, 0.01367188, 0.        , ..., 1.        , 0.        ,
        0.        ]])

In [108]:
#Construimos nuestro Train y nuestro Test
X_train2, X_test2, y_train2, y_test2 = train_test_split(nuevoDF, YDEF, test_size = 0.2, stratify = YDEF, random_state = 0)
print(X_train2.shape, X_test2.shape, y_train2.shape, y_test2.shape)

reg_logistica2 = LogisticRegression(C=1,
                                   multi_class="auto",
                                   random_state=0,
                                   n_jobs=-1)
reg_logistica2

(712, 25) (179, 25) (712,) (179,)

LogisticRegression(C=1, n_jobs=-1, random_state=0)

In [113]:
print(type(y_train2))

<class 'pandas.core.series.Series'>

In [109]:
#NO ENTIENDO POR QUÉ ME APARECE ERROR AQUÍ . DICE "Input contains NaN, infinity or a value too large for dtype('float64')"

reg_logistica2.fit(X_train2, y_train2)

ValueError: ignored

In [105]:

print("Intercepto: ",reg_logistica2.intercept_)
print("Coeficientes: ",reg_logistica2.coef_)
print("Coeficientes como lista: ",reg_logistica2.coef_[0])
print(X_train2.keys())

y_pred_train2=reg_logistica.predict2(X_train2)
y_pred_train2

# #Qué tan exacto fue? 
print("Exactitud: ", metrics.accuracy_score(y_train2, y_pred_train2))

# #Matriz de confusion: intenta comparar cada valor que se tiene
conf2= metrics.confusion_matrix(y_train2, y_pred_train2)

print(conf2)

sns.heatmap(conf2, annot=True)

y_pred_test2 = reg_logistica2.predict(X_test2)
print("Exactitud: ", metrics.accuracy_score(y_test2, y_pred_test2))
conftest2= metrics.confusion_matrix(y_test2, y_pred_test2)
print(conftest2)
sns.heatmap(conftest2, annot=True)

# #La C significa regularización 
acc2 = []
for max_i in range(1,25):
  reg_logistica2 = LogisticRegression(C=1,
                                    multi_class="auto",
                                    random_state=0,
                                    n_jobs=-1,
                                    max_iter= max_i)
  reg_logistica2.fit(X_train2, y_train2)

  y_pred_test2=reg_logistica2.predict(X_test2)
  print("Exactitud",max_i,": ", metrics.accuracy_score(y_test2, y_pred_test2), metrics.log_loss(y_test2, y_pred_test2) )
  acc.append([max_i, metrics.accuracy_score(y_test2, y_pred_test2),metrics.log_loss(y_test2, y_pred_test2)])

ValueError: ignored

In [ ]:
df_acc2 = pd.DataFrame(acc2)
print(df_acc2)